body {
  font-family: cursive;
  background: #4aafbd;
}

h1 {
  color: #000;
  margin: 1rem;
}

#whole {
  margin: 2rem;
  display: flex;
  gap: 4rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.heading button {
  width: 35%;
  background: none;
  box-shadow: 2px 2px #000;
  padding: 0.3rem;
  margin-right: 4rem;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 800;
}

.baseButton {
  width: 35%;
  background: none;
  box-shadow: 2px 2px #000;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 14px;
  border-radius: 1rem;
}

.baseButton:hover {
  cursor: pointer;
}

#scoreList {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid rgb(133, 108, 108);
  overflow-y: auto;
  max-height: 20rem;
}

#scoreList li {
  background-color: rgb(138, 126, 126);
  padding: 3px;
  color: #eee;
}

#scoreList li:nth-child(odd) {
  background-color: #493e3e;
  color: #eee;
}

#addScore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.text {
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #000;
  color: rgb(20, 3, 3);
}
