body {
  font-family: cursive;
}

h1 {
  color: #000;
  margin: 1rem;
}

#whole {
  margin: 2rem;
  display: flex;
  gap: 4rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.baseButton {
  height: 2rem;
  width: 15%;
  background: none;
  box-shadow: 2px 2px #000;
}

.baseButton:hover {
  cursor: pointer;
}

#scoreList {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #000;
}

#scoreList li {
  background-color: #ddd;
  padding: 3px;
}

#scoreList li:nth-child(odd) {
  background-color: #fff;
}

#addScore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textBox {
  width: 20px;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #000;
  margin-bottom: 2rem;
}